<h1>Tournament Management Mobile Application</h1>
<h3>Please set your new password</h3>
<p>Password requirements:</p>
<ul>
    <li>8-64 characters</li>
    <li>At least one digit (0-9)</li>
    <li>At least one lowercase letter (a-z)</li>
    <li>At least one uppercase letter (A-Z)</li>
    <li>At least one special character</li>
</ul>
<form method="POST" onsubmit="return validateForm()">
    <p>New Password: <input name="new_password" id="new_password" type="password" placeholder="New Password"></p>
    <p>Confirm New Password: <input name="confirm_new_password" id="confirm_new_password" type="password" placeholder="Confirm New Password"></p>
    <input type="submit">
</form>

<script>
    function validateForm() {
        var newPassword = document.getElementById("new_password").value;
        var confirmNewPassword = document.getElementById("confirm_new_password").value;

        var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]).{8,64}$/;

        if (!passwordRegex.test(newPassword)) {
            alert("Password must meet the specified requirements.");
            return false;
        }

        if (newPassword !== confirmNewPassword) {
            alert("Passwords do not match. Please try again.");
            return false;
        }

        return true;
    }
</script>